.retail-floors-info {
  width: 900px;
  height: 370px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 30;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.retail-floors-info img {
  width: 100%;
  height: 76%;
}

.retail-left-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 80px;
  height: 580px;  
}
.retail-left-section .tower-name span {
  display: inline-block;
  width: 100%;
  height: 20px;

  text-align: center;
  transform: rotate(-90deg);
}

.retail-left-section .tower-name {
  width: 80px;
  height: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.retail-left-section .tower-name div:first-child {
  width: 30px;
  display: inline-block;
  color: white;
}

.retail-left-section .tower-name div:last-child {
  margin-left: 10px;
  display: inline-block;
  width: 30px;
  color: white;
}

.retail-right-section {
  height: 100%;
  width: 75%;
}

.retail-right-section .visual-info {
  width: 100%;
  height: 90%;

  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  /* flex-direction: column; */
}

.retail-right-section .visual-info .upper-info {
  height: 75%;
  width: 45%;
  right: 20px;
}

.visual-info .upper-info {
  position: relative;
  margin-bottom: 20px;
}

.visual-info .upper-info button {
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 132px;
  font-size: 20px;
  border: none;
  color: #23608b;
  background-color: white;
  border-radius: 5px;
}

.visual-info .upper-info div {
  background-image:  #23608b;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  border-radius: 7px;


  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  flex-direction: column;
}
.new-span {
  color: white;
  right: 0px;
  position: absolute;
  top: 215px;
  width: 214px;
}

.visual-info .upper-info div span:first-child {
  font-size: 18px;
  display: block;
  color: white;
}

.visual-info .upper-info div span:last-child {
  font-size: 40px;
  color: white;
}

/* Styling the lower section */

.retail-right-section .visual-info .lower-info {
  position: relative;
  height: 75%;
  width: 45%;

  margin-top: 20px;
}



.visual-info .lower-info > button:first-child {
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 132px;
  top: 0;
  font-size: 20px;
  border: none;
  color: white;
  background-color: #23608b;
  border-radius: 5px;
}

.visual-info .lower-info button:hover {
  cursor: pointer;
}

.visual-info .lower-info > button:last-child {
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 132px;
  bottom: 0;
  font-size: 20px;
  border: none;
  color: white;
  background-color: #23608b;
  border-radius: 5px;
}

.visual-info .lower-info div {
  background-color: white;
  height: 90%;
  width: 100%;
  border-radius: 5px;

  position: relative;
  top: 10px;
}

.visual-info .lower-info div div {
  width: 100%;
  height: 22%;
  position: relative;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visual-info .lower-info div div button {
  width: 105px;
  height: 40px;
  text-align: center;
  font-size: 15px;
  border: none;
  color: white;
  background-color: #23608b;
  border-radius: 5px;
}

.retail-right-section > span:last-child {
  color: white;
  text-align: center;
  display: block;
  line-height: 26px;
}
