/* Menu List */
.menu-list {
  background-color: #385b76db;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  width: 350px;
  height: 609px;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
}


