.App {
  background-image: url("./CellTeckWebsitePage.jpg");

  width: 1080px;
  height: 1520px;

  margin-top: 50px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
